<h1>Manage your company today!</h1>
<p>This web application, built with <a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://angular.io/'>Angular</a>, will help you manage your company. </p>
<p>First time here? If you have administrator rights, you can <a [routerLink]="['/hirepage']">hire a new employee</a>, or <a [routerLink]="['/devlist']">see a live view</a> of your employees and their assigned projects. </p>
<p>After you complete the hiring process, make sure that the employed person registers on the platform using the mail provided in the formular.</p>
<br>

<h2>Tickets</h2>
<p>Having issues with the page? Please write a ticket using <a [routerLink]="['/ticket']">this page.</a></p>

<h2>Reviews</h2>
<p>Want to leave an review? Please visit <a [routerLink]="['/review']">this page.</a></p>

<h2>COVID-19 Status Report</h2>
<p>As most of you know, we are going through a tough situation. COVID-19 is one of the biggest threats of recent times and it is our duty to protect ourselves and the persons around us.</p>
<h4>The <strong>World Health Organization</strong> gives us these advices:</h4>
<ul>
    <li><strong>Maintain at least a 1-metre distance between yourself and others</strong> to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better.</li>
    <li><strong>Make wearing a mask a normal part of being around other people. The appropriate use, storage and cleaning or disposal are essential to make masks as effective as possible.</strong></li>
    <li><strong>Avoid touching your eyes, nose and mouth.</strong> Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.</li>
    <li><strong>Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze.</strong> Then dispose of the used tissue immediately into a closed bin and wash your hands. By following good ‘respiratory hygiene’, you protect the people around you from viruses, which cause colds, flu and COVID-19.</li>
    <li><strong>Clean and disinfect surfaces frequently especially those which are regularly touched</strong>, such as door handles, faucets and phone screens.</li>

</ul>
<p>The situation is far from over, but we provided this app to make your <code>work from home</code> safer and more productive!</p>

<iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>

<br>

<p>Stay safe, and be productive!</p>