<h1 id="tableLabel">Employees</h1>

<p *ngIf="!developers"><em>Loading...</em></p>

<h5>There are currently {{ count }} employees in this company.</h5>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="developers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Hire Year</th>
            <th>Role</th>
            <th>ProjectId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let developer of developers">
            <td>{{ developer.id }}</td>
            <td>{{ developer.name }}</td>
            <td>{{ developer.email }}
            <td>{{ developer.hireYear }}</td>
            <td>{{ developer.role }}</td>
            <td>{{ developer.projectId }}</td>
        </tr>
    </tbody>
</table>

<h2 id="tableLabel">Projects</h2>

<p *ngIf="!projects"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projects">
    <thead>
        <tr>
            <th>Id</th>
            <th>Project name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.id }}</td>
            <td>{{ project.projectName }}</td>
        </tr>
    </tbody>
</table>

<h3>Create a new project?</h3>
<h5>Please fill in the following formular!</h5>
<br>

<p>Project Name:</p>
<input type="text" [formControl]="name" placeholder="Enter name...">

<br>

<button (click)="CreateProject()">Create Project</button>

<br>

<p>{{ result }}</p>
